@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bold-text {
  font-weight: 700;
}

.starIcon {
  color: yellow;
}

.swipers {
  padding-top: 8rem !important;
  
  /* padding-left: 20rem !important; */
}


.swiper-button-prev  {
  top: 5% !important;
  left: 2% !important;
  color: #134d61 !important;
  font-size: 18px !important;

}

.swiper-button-next  {
  top: 5% !important;
  right: 85% !important;
  color: #134d61 !important;
  font-size: 18px !important;
}


/* @media (min-width: 576px) {  */
  .swiper-slide {
    display: flex !important;
    justify-self: center !important;
  /* } */
}

