@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.starIcon {
  color: yellow;
}

.swipers {
  padding-top: 8rem !important;
  
  /* padding-left: 20rem !important; */
}

.swiper-button-prev  {
  top: 5% !important;
  left: 2% !important;
  color: #134d61 !important;
  font-size: 18px !important;

}

.swiper-button-next  {
  top: 5% !important;
  right: 85% !important;
  color: #134d61 !important;
  font-size: 18px !important;
}


/* .review-swiper-button-next .review-swiper-button-prev {
  top: 5% !important;
  right: 90% !important;
  height: 50%;
  padding: 10px;
  width: 150px;
} */

/* all images */
/* .image {
  max-width: 150px;
  height: 10rem;
  object-fit: cover;
  padding: 0 10px;
  cursor: pointer;
} */

.banner-wrapper {
  width: 100%;
  height: 10rem;
  overflow: hidden;
}

.banner-wrapper .wrapper {
  display: flex;
}

.banner-wrapper .wrapper .images {
  display: flex;
  /* animation: swipe var(--speed) linear infinite; */
}

.banner-wrapper:hover .wrapper .images {
  animation-play-state: paused;
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}